body {
  background-color: beige;
}

.Carddeck {
  width: 100%;
  padding: 10px 0 10px;
  text-align: center;
}

.Carddeck .card {
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 80px;
  margin-right: auto;
  border: 10px solid black;
  width: 10%;
  height: 100px;

}

.Carddeck .card:hover {
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 80px;
  margin-right: auto;
  border: 10px solid gold;
  width: 10%;
  height: 100px;

}

.hands {
  width: 100%;
  padding: 10px 0 10px;
  text-align: center;
}

.hands .hand {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 10%;
  background-color: gray;
}


.nav-bar {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 20px;
}
.nav-bar .buttons {
  text-align: center;
  margin-top: 10px;
}
.nav-bar .buttons .button {
  border-radius: 4px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-right: auto;
  position: relative;
}
.nav-bar .buttons .button.newgame {
  background-color: white;
  color: black;
  border: 3px solid #0099ff;
}
.nav-bar .buttons .button.newgame:hover {
  background-color: #0099ff;
  color: white;
  cursor: pointer;
}

.nav-bar .buttons .button.changepassword {
  background-color: white;
  color: black;
  border: 3px solid #ff3300;
}
.nav-bar .buttons .button.changepassword:hover {
  background-color: #ff3300;
  color: white;
  cursor: pointer;
}

.button.join {
  background-color: #006400;
  color: white;
  border: solid #006400;
}
.button.join:hover {
  background-color: #7CFC00;
  color: black;
  cursor: pointer;
  border: solid #7CFC00;
}

.button.cancel {
  background-color: #8B0000;
  color: white;
  border: solid #8B0000;
}

.button.cancel:hover {
  background-color: #FFC0CB;
  color: black;
  cursor: pointer;
  border: solid #FFC0CB;
}