body {
  color: blue;
}

.nav-bar {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 20px;
}
.nav-bar .buttons {
  text-align: center;
  margin-top: 10px;
}
.nav-bar .buttons .button {
  border-radius: 4px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-right: auto;
  position: relative;
}
.nav-bar .buttons .button.newgame {
  background-color: white;
  color: black;
  border: 1px solid #0099ff;
}
.nav-bar .buttons .button.newgame:hover {
  background-color: #0099ff;
  color: white;
  cursor: pointer;
}

.nav-bar .buttons .button.third {
  background-color: white;
  color: black;
  border: 1px solid #ff3300;
}
.nav-bar .buttons .button.third:hover {
  background-color: #ff3300;
  color: white;
  cursor: pointer;
}

.button.join {
  background-color: #006400;
  color: white;
  border: solid #006400;
}
.button.join:hover {
  background-color: #7CFC00;
  color: black;
  cursor: pointer;
  border: solid #7CFC00;
}