<html>
<head>
<title>Battlelines Gameplay</title>
	<link rel="stylesheet" type="text/css" href="../css/BattleLines.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/BattleLines.js"></script>
</head>
<body>
<h1>Battlelines</h1>
<div id = "hands" class = "hands"></div>
<div id = "PlayerCards" class = "Carddeck" style = "background-color:grey"></div>
<script>rendergame('{{gameid}}','{{player}}')</script>
<script>function ChooseHand(hand) {
		var num = Number(hand);
		var i;
		for (i = 0; i < 9; i++) {
			if (i == num) {
				var name = "hand" + i.toString();
				document.getElementById(name).style.border = "10px solid gold";
			} else {
				var name = "hand" + i.toString();
				document.getElementById(name).style.border = "10px solid gray";
			}
		}
	}
</script>
<script>function ChooseCard(card) {
		var num = Number(card);
		var i;
		for (i = 0; i < 7; i++) {
			if (i == num) {
				var name = "card" + i.toString();
				document.getElementById(name).style.border = "10px solid gold";
			} else {
				var name = "card" + i.toString();
				document.getElementById(name).style.border = "10px solid black";
			}
		}
	}
</script>
</body>
</html>
